    <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p><strong><em>Author:</strong></em> <%= post.author %></p>
    <p><em><%= friendly_date post.created_at %></em></p>
    <p><%= post.body %></p>
    <p>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>

<br />

<%= link_to 'New Post', new_post_path %>
