<p id="notice"><%= notice %></p>
  <h2><%= @post.title %></h2>
  <p><strong><em>Author:</strong></em> <%= @post.author %></p>
  <p><%= @post.body %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h3>Comments</h3>

<%= render @post.comments %>

<h4>New Comment</h4>
<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
