<div class="row">
  <h1>Log In</h1>
</div>

<%= form_tag sessions_path do %>
  <div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
            <%= label_tag :email %>
        </div>
        <div class="small-10 columns">
        <%= email_field_tag :email, params[:email] %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= label_tag :password %>
        </div>
        <div class="small-10 columns">
          <%= password_field_tag :password, nil %>
        </div>
      </div>
    </div>
   <div class="small-10">
      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= submit_tag "Log In", :class => 'button expand' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
