<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from signing up:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :email, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_field :email %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :password, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :password_confirmation, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= f.submit :class => 'button expand' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
