<div class="row">
<h1>User</h1>
</div>

<p><%= @user.name %></p>

<%= link_to "Follow", follow_user_path(@user), method: :post, class: "button" %>
<h2>Posts</h2>
<%= render @posts %>

<%= link_to "Home", root_path, class: 'button'  %>
