<div class="large-12 columns">
    <nav class="top-bar" data-topbar="" role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Stok Social', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>


<section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
        <% if current_user %>
          <li class="active">
          <%= link_to 'Profile', current_user %>
          </li>
          <li class="active">
          <%= link_to 'Log Out', logout_path, method: :delete %>
          </li>
        <% else %>
          <li class="active">
          <%= link_to 'Log In', login_path %>
          </li>
          <li class="active">
          <%= link_to 'Sign Up', signup_path %>
          </li>
        <% end %>
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a>Main Item 1</a>
        <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li class="has-dropdown"><a>Dropdown Level 1a</a>

            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a>Dropdown Level 2c</a>

                <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all →</a></li>
        </ul>
      </li>
    </ul>

  </section></nav>

  </div><br />
