<%= form_for @text_post do |f| %>
  <% if @text_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_post.errors.count, "error") %> prohibited you from posting:</h2>

      <ul>
      <% @text_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      <% end %>
<div class="row">
    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :title, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_field :title %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :body, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_area :body %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= f.submit class: "button" %>
          <%= link_to 'Cancel', :back, class: 'button' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
