<% cache text_post do %>
<div class="row">
  <div class="small-3 column">
    <h3>
      <%= text_post.title %>
    </h3>
    <%= link_to("#{time_ago_in_words text_post.created_at} ago", post_path(text_post)) %>
  </div>

  <div class="small-9 column panel radius">
    <p><em>By <%= link_to text_post.user.name, text_post.user %></em></p>

    <p><%= sanitize text_post.body %></p>
    <p><%= pluralize text_post.cached_comment_count, "Comment" %></p>
  <% end %>
    <% if text_post.user == current_user %>
    <p>
      <%= link_to 'Edit', edit_text_post_path(text_post), class: 'button' %>
    </p>
    <% end %>
  </div>
</div>

