<% cache [comment, @can_moderate] do %>
  <p><em><strong><%= comment.user.name %></em> said:</em></p>
  <p><%= comment.body %></p>
  <% if @can_moderate %>
  <p>
  <%= link_to 'Delete', comment_path(comment), method: :delete,
                         data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
<% end %>
