<div class="row">
  <h1>Post</h1>
</div>
<%= render @posts %>
<%= will_paginate @posts %>
 <div class="row">
  <p><%= link_to "New Text Post", new_text_post_path, class: 'button' %></p>
  <p><%= link_to "New Image Post", new_image_post_path, class: 'button' %></p>
  </div>
