<div class="row">
<h1>Post</h1>
</div>

<div class="row">
  <div class="small-8">
      <%= render @post %>
    <div class="small-4">
      <h3>Comments</h3>
      <% cache [@post, 'comments', @can_moderate] do %>
        <%= render @post.comments %>
      <% end %>
  </div>
</div>
<div class="row">
  <h4>New Comment</h4>
  <%= form_for @post.comments.build do |f| %>
    <div class="small-10">
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :body, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_area :body %>
        </div>
      </div>
    </div>

    <div class="small-10">
      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= f.hidden_field :post_id %>
          <%= f.submit :class => 'button expand' %>
        </div>
      </div>
    </div>
  <% end %>
