<div class="row">
  <div class="small-3 column">
    <h3>
      <%= image_post.title %>
    </h3>
     <%= link_to"#{time_ago_in_words image_post.created_at} ago", post_path(image_post) %>
  </div>

  <div class="small-9 column panel radius">
    <p><em>By <%= link_to image_post.user.name, image_post.user %></em></p>
    <%= image_tag image_post.url, class: 'img-responsive' %>
    <%= image_post.body %>
        <p><%= pluralize image_post.cached_comment_count %></p>

     <% if image_post.user == current_user %>
    <p>
      <%= link_to 'Edit', edit_image_post_path(image_post), class: 'button' %>
    </p>
    <% end %>
  </div>
</div>
